
@media only screen and (max-width: 1100px) {

	#header h1{	
		margin-top: 1%; 
		font-size: 25pt; 
		width: 50%;
	}

	#mainFrame{	
		top: 100px;
		width: 95%;
	
		box-shadow: 5px 10px 20px gray;
	}
	
}

@media only screen and (max-width: 800px) {

	#header h1{ 
		font-size: 18pt; 
		width: 40%;
	}

	#header .redButton{
		margin: 3% 1% 3% 0px;
	}

	#header img{
		margin: 0px;
	}
}

@media only screen and (max-width: 600px) {
	
	#menu ul li{
		width: 16%;
		margin: 10px 4%;
	}
	
	#menu ul li:first-child{
		margin-left: 4%;
	}
	
	.floatingDiv{
		margin-left: 0px;
	}
}

@media only screen and (max-width: 400px) {
	#header h1{ 
		width: 45%;
		margin-top: 10px;
	
		font-size: 14pt; 
		font-weight: bolder;
	}
	
	.redButton{
		display: none;
	}
	
	#menu{
		height: 90px;
	}
	
	#menu ul li{
		width: 30%;
		margin: 8px 8%;
	}
	
	#menu ul li:first-child{
		margin-left: 8%;
	}
}