@import url('menu.css');

html{
	font-family: 'Alegreya Sans', sans-serif;
}

*{
	margin: 0px;
	padding: 0px;
}

#header{
	z-index: 90;
	position: fixed;
	
	height: 100px;
	width: 80%;
	padding: 0px 10%;

	background-color: #de5f31;
}

	#header h1{
		float: left;
		
		margin: 2%;
		margin-left: 5%;
		
		font-size: 30pt;
		font-weight: normal;
	}
	
		#header h1 a{
			color: black;
			text-decoration: none;
		}
	
	#header img{
		float: right;
		margin: 0px 2% 0px 0px;
		
		vertical-align: top;
	}
	
	#header .redButton{
		float: right;
		margin: 3% 4% 3% 2%;
		
		background-color: red;
		font-weight: bolder;
		opacity: 0.4;
	}

		.redButton a{
			padding: 10px;
			
			cursor: pointer;
			font-size: 12pt;
			text-decoration: none;
			color: white;
			display: block;
		}
		
		.redButton:hover{
			opacity: 1;
		}

#mainFrame{
	z-index: 50;
	position: relative;
	top: 100px;
	width: 100%;
    color: #ddd;
}
        #mainFrame ul{
            padding: 2% 0px;
        }

        #mainFrame ul li{
            padding: 1%;

            list-style: none;
        }

        #mainFrame a{
            text-decoration: none;
        }

	.title-wrap{
		position: relative;
        width: 100%;
        background-color: #4c4d47;
		color: white;
	}

    .title-wrap.odd{
        background-color: #818880;
    }

        .title{
            width: 80%;
            padding: 0 10%;
        }

	.content-wrap {
		position: relative;
        width: 100%;
        min-height: 100px;
		background-color: #4c4d47;
	}

    .content-wrap.odd {
        background-color: #818880;
    }

        .content{
            width: 80%;
            padding: 0 10%;
        }

		.content-wrap img{
			float: left;
			margin: 10px 10px;
		}

		.floatingDiv{
			position: relative;
			float: left;
			margin-left: 50px;
		}
		
		.afterFloatingDiv{
			clear: both;
		}

		.content-wrap h2,
        .content-wrap h3,
        .content-wrap{
			font-size: 18pt;
		}