/* line 98, icons/*.png */
.icons-sprite, .icons-axesor, .icons-boscoLogo, .icons-cassidian, .icons-german-flag-gray, .icons-german-flag, .icons-logo-hau, .icons-ugrLogo, .icons-ulmLogo, #mainFrame .content-wrap .hau-it-service-logo, #mainFrame .content-wrap .cassidian-logo, #mainFrame .content-wrap .axesor-logo {
  background: url('/images/icons-se25e63b696.png') no-repeat;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-axesor {
  background-position: 0 -170px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-boscoLogo {
  background-position: 0 -50px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cassidian {
  background-position: 0 -245px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-german-flag-gray {
  background-position: 0 -379px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-german-flag {
  background-position: 0 -348px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo-hau {
  background-position: 0 -285px;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-ugrLogo {
  background-position: 0 0;
}

/* line 60, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-ulmLogo {
  background-position: 0 -120px;
}

/* line 1, ../sass/settings.scss */
html {
  font-family: Arial, Helvetica;
}

/* line 5, ../sass/settings.scss */
body {
  /** To edit this background, follow this link:
http://svgeneration.com/generate/Dual-Triangles?width=10&color1=222222&color2=262626&
*/
  background-color: #222222;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+Cgk8ZyB0cmFuc2Zvcm09J3JvdGF0ZSg0NSknPgoJCTxyZWN0IHdpZHRoPScyMDAlJyBoZWlnaHQ9JzIwMCUnIGZpbGw9JyMyNjI2MjYnLz4KCTwvZz4KPC9zdmc+");
  color: #dddddd;
  font-size: 12pt;
}

/* line 15, ../sass/settings.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 1, ../sass/intro.scss */
#mainFrame {
  position: relative;
  width: 100%;
}
/* line 4, ../sass/intro.scss */
#mainFrame a {
  text-decoration: none;
}
/* line 8, ../sass/intro.scss */
#mainFrame .title-wrap {
  position: relative;
  width: 100%;
  color: white;
}
/* line 13, ../sass/intro.scss */
#mainFrame .title-wrap .title {
  width: 80%;
  padding: 0 10%;
}
/* line 18, ../sass/intro.scss */
#mainFrame .header {
  background: black url(../images/header-bg.png) no-repeat bottom left;
  min-height: 300px;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  overflow: hidden;
}
/* line 24, ../sass/intro.scss */
#mainFrame .header .double-line-top {
  width: 50%;
  min-height: 8px;
  border-top: 1px solid white;
  border-bottom: 2px solid white;
  margin: auto;
}
/* line 31, ../sass/intro.scss */
#mainFrame .header #languageSelector {
  list-style-type: none;
  text-align: center;
}
/* line 34, ../sass/intro.scss */
#mainFrame .header #languageSelector li {
  margin: 10px 15px;
  display: inline-block;
}
/* line 37, ../sass/intro.scss */
#mainFrame .header #languageSelector li a {
  display: inline-block;
}
/* line 41, ../sass/intro.scss */
#mainFrame .header #languageSelector .spanish-flag {
  background: url("/images/spain-gray.svg") no-repeat;
}
/* line 43, ../sass/intro.scss */
#mainFrame .header #languageSelector .spanish-flag a {
  cursor: pointer;
  width: 50px;
  height: 33px;
}
/* line 48, ../sass/intro.scss */
#mainFrame .header #languageSelector .spanish-flag:hover {
  background: url("/images/spain-color.svg") no-repeat;
}
/* line 52, ../sass/intro.scss */
#mainFrame .header #languageSelector .english-flag {
  background: url("/images/united-kingdom-gray.svg") no-repeat;
}
/* line 54, ../sass/intro.scss */
#mainFrame .header #languageSelector .english-flag a {
  cursor: pointer;
  width: 66px;
  height: 33px;
}
/* line 59, ../sass/intro.scss */
#mainFrame .header #languageSelector .english-flag:hover {
  background: url("/images/united-kingdom-color.svg") no-repeat;
}
/* line 63, ../sass/intro.scss */
#mainFrame .header #languageSelector .german-flag {
  background: url("/images/germany-gray.svg") no-repeat;
}
/* line 65, ../sass/intro.scss */
#mainFrame .header #languageSelector .german-flag a {
  cursor: pointer;
  width: 55px;
  height: 33px;
}
/* line 70, ../sass/intro.scss */
#mainFrame .header #languageSelector .german-flag:hover {
  background: url("/images/germany-color.svg") no-repeat;
}
/* line 75, ../sass/intro.scss */
#mainFrame .header .main-title {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 60px;
}
/* line 81, ../sass/intro.scss */
#mainFrame .header .subtitle {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}
/* line 87, ../sass/intro.scss */
#mainFrame .header .double-line-bottom {
  width: 50%;
  min-height: 8px;
  border-bottom: 1px solid white;
  border-top: 2px solid white;
  margin: auto;
}
/* line 96, ../sass/intro.scss */
#mainFrame .content-wrap {
  position: relative;
  width: 100%;
  min-height: 100px;
}
/* line 101, ../sass/intro.scss */
#mainFrame .content-wrap .content {
  width: 80%;
  padding: 0 10%;
}
/* line 106, ../sass/intro.scss */
#mainFrame .content-wrap img {
  float: left;
  margin: 10px 10px;
}
/* line 111, ../sass/intro.scss */
#mainFrame .content-wrap .floatingDiv {
  position: relative;
  float: left;
  margin-left: 50px;
}
/* line 117, ../sass/intro.scss */
#mainFrame .content-wrap .afterFloatingDiv {
  clear: both;
}
/* line 120, ../sass/intro.scss */
#mainFrame .content-wrap .hau-it-service-logo {
  height: 63px;
  width: 150px;
  display: inline-block;
  background-position: 0 -285px;
}
/* line 126, ../sass/intro.scss */
#mainFrame .content-wrap .cassidian-logo {
  height: 40px;
  width: 419px;
  display: inline-block;
  background-position: 0 -245px;
}
/* line 132, ../sass/intro.scss */
#mainFrame .content-wrap .axesor-logo {
  height: 75px;
  width: 146px;
  display: inline-block;
  background-position: 0 -170px;
}

@media only screen and (max-width: 400px) {
  /* line 16, ../sass/media.scss */
  #mainFrame .header .double-line-top {
    width: 80%;
  }
  /* line 19, ../sass/media.scss */
  #mainFrame .header .main-title {
    font-size: 32pt;
  }
  /* line 22, ../sass/media.scss */
  #mainFrame .header .double-line-bottom {
    width: 80%;
  }
}
/* line 1, ../sass/nav.scss */
#nav {
  width: 100%;
  z-index: 99;
  position: absolute;
}
/* line 6, ../sass/nav.scss */
#nav #menu ul {
  list-style-type: none;
  text-align: center;
}
/* line 9, ../sass/nav.scss */
#nav #menu ul li {
  height: 30px;
  display: inline-block;
  margin: 13px 30px;
}
/* line 13, ../sass/nav.scss */
#nav #menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #FE9A2E;
  cursor: pointer;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
