/* line 82, ../images/sprites/*.png */
.sprites-sprite {
  background: url('/images/../images/sprites-s7be22a00c2.png') no-repeat;
}

/* line 1, ../sass/settings.scss */
html {
  font-family: Arial, Helvetica;
}

/* line 5, ../sass/settings.scss */
body {
  /** To edit this background, follow this link:
http://svgeneration.com/generate/Dual-Triangles?width=10&color1=222222&color2=262626&
*/
  background-color: #222222;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+Cgk8ZyB0cmFuc2Zvcm09J3JvdGF0ZSg0NSknPgoJCTxyZWN0IHdpZHRoPScyMDAlJyBoZWlnaHQ9JzIwMCUnIGZpbGw9JyMyNjI2MjYnLz4KCTwvZz4KPC9zdmc+");
  color: #dddddd;
  font-size: 12pt;
}

/* line 15, ../sass/settings.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 1, ../sass/intro.scss */
#mainFrame {
  position: relative;
  width: 100%;
}
/* line 5, ../sass/intro.scss */
#mainFrame ul {
  padding: 2% 0px;
}
/* line 8, ../sass/intro.scss */
#mainFrame ul li {
  padding: 1%;
  list-style: none;
}
/* line 14, ../sass/intro.scss */
#mainFrame a {
  text-decoration: none;
}
/* line 18, ../sass/intro.scss */
#mainFrame .title-wrap {
  position: relative;
  width: 100%;
  color: white;
}
/* line 23, ../sass/intro.scss */
#mainFrame .title-wrap .title {
  width: 80%;
  padding: 0 10%;
}
/* line 31, ../sass/intro.scss */
#mainFrame .header {
  background: black url(../images/header-bg.png) no-repeat top left;
  min-height: 300px;
  -webkit-background-size: cover !important;
}
/* line 35, ../sass/intro.scss */
#mainFrame .header .main-title {
  text-align: center;
  padding-top: 100px;
}
/* line 42, ../sass/intro.scss */
#mainFrame .content-wrap {
  position: relative;
  width: 100%;
  min-height: 100px;
}
/* line 47, ../sass/intro.scss */
#mainFrame .content-wrap .content {
  width: 80%;
  padding: 0 10%;
}
/* line 52, ../sass/intro.scss */
#mainFrame .content-wrap img {
  float: left;
  margin: 10px 10px;
}
/* line 57, ../sass/intro.scss */
#mainFrame .content-wrap .floatingDiv {
  position: relative;
  float: left;
  margin-left: 50px;
}
/* line 63, ../sass/intro.scss */
#mainFrame .content-wrap .afterFloatingDiv {
  clear: both;
}

@media only screen and (max-width: 1100px) {
  /* line 2, ../sass/media.scss */
  #header h1 {
    margin-top: 1%;
    font-size: 25pt;
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  /* line 13, ../sass/media.scss */
  #header h1 {
    font-size: 18pt;
    width: 40%;
  }
  /* line 16, ../sass/media.scss */
  #header h1 img {
    margin: 0px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 24, ../sass/media.scss */
  #menu ul li {
    width: 16%;
    margin: 10px 4%;
  }

  /* line 29, ../sass/media.scss */
  #menu ul li:first-child {
    margin-left: 4%;
  }

  /* line 33, ../sass/media.scss */
  .floatingDiv {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 39, ../sass/media.scss */
  #header h1 {
    width: 45%;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bolder;
  }

  /* line 47, ../sass/media.scss */
  #menu {
    height: 90px;
  }
  /* line 50, ../sass/media.scss */
  #menu ul li {
    width: 30%;
    margin: 8px 8%;
  }
  /* line 54, ../sass/media.scss */
  #menu ul li:first-child {
    margin-left: 8%;
  }
}
/* line 1, ../sass/nav.scss */
#nav {
  z-index: 99;
  position: fixed;
  float: right;
  right: 20px;
  top: 41%;
}
/* line 10, ../sass/nav.scss */
#nav #menu ul {
  list-style-type: none;
}
/* line 13, ../sass/nav.scss */
#nav #menu ul li {
  cursor: pointer;
  height: 30px;
}
/* line 16, ../sass/nav.scss */
#nav #menu ul li a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
  text-align: right;
}
