@media only screen and (max-width: 400px) {
  /* line 15, ../sass/media.scss */
  #mainFrame .header .double-line-top {
    width: 80%;
  }
  /* line 18, ../sass/media.scss */
  #mainFrame .header .main-title {
    font-size: 32pt;
  }
  /* line 21, ../sass/media.scss */
  #mainFrame .header .double-line-bottom {
    width: 80%;
  }
}
