/* line 1, ../sass/nav.scss */
#nav {
  z-index: 99;
  position: fixed;
  float: right;
  right: 20px;
  top: 41%;
}
/* line 10, ../sass/nav.scss */
#nav #menu ul {
  list-style-type: none;
}
/* line 13, ../sass/nav.scss */
#nav #menu ul li {
  cursor: pointer;
  height: 30px;
}
/* line 16, ../sass/nav.scss */
#nav #menu ul li a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
  text-align: right;
}
