/* line 1, ../sass/nav.scss */
#nav {
  width: 100%;
  z-index: 99;
  position: absolute;
}
/* line 6, ../sass/nav.scss */
#nav #menu ul {
  list-style-type: none;
  text-align: center;
}
/* line 9, ../sass/nav.scss */
#nav #menu ul li {
  height: 30px;
  display: inline-block;
  margin: 13px 30px;
}
/* line 13, ../sass/nav.scss */
#nav #menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #FE9A2E;
  cursor: pointer;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
