#mainFrame{
	position: relative;
	width: 100%;
  a{
    text-decoration: none;
  }

  .title-wrap{
    position: relative;
    width: 100%;
    color: white;

    .title{
      width: 80%;
      padding: 0 10%;
    }
  }
  .header{
    background: black url(../images/header-bg.png) no-repeat bottom left;
    min-height: 300px;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    overflow: hidden;
    .double-line-top{
      width: 50%;
      min-height: 8px;
      border-top: 1px solid $main-color;
      border-bottom: 2px solid $main-color;
      margin: auto;
    }
    #languageSelector{
      list-style-type: none;
      text-align: center;
      li{
        margin: 10px 15px;
        display: inline-block;
        a{
          display: inline-block;
        }
      }
      .spanish-flag{
        background: url('/images/spain-gray.svg') no-repeat;
        a{
          cursor: pointer;
          width: 50px;
          height: 33px;
        }
        &:hover{
          background: url('/images/spain-color.svg') no-repeat;
        }
      }
      .english-flag{
        background: url('/images/united-kingdom-gray.svg') no-repeat;
        a{
          cursor: pointer;
          width: 66px;
          height: 33px;
        }
        &:hover{
          background: url('/images/united-kingdom-color.svg') no-repeat;
        }
      }
      .german-flag{
        background: url('/images/germany-gray.svg') no-repeat;
        a{
          cursor: pointer;
          width: 55px;
          height: 33px;
        }
        &:hover{
          background: url('/images/germany-color.svg') no-repeat;
        }
      }
    }
    .main-title{
      text-align: center;
      color: $main-color;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
      font-size: 100px;
    }
    .subtitle{
      text-align: center;
      color: $main-color;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
      font-size: 2rem;
    }
    .double-line-bottom{
      width: 50%;
      min-height: 8px;
      border-bottom: 1px solid $main-color;
      border-top: 2px solid $main-color;
      margin: auto;
    }
  }
  .content-wrap {
    position: relative;
    width: 100%;
    min-height: 100px;

    .content{
      width: 80%;
      padding: 0 10%;
    }

    img{
      float: left;
      margin: 10px 10px;
    }

    .floatingDiv{
      position: relative;
      float: left;
      margin-left: 50px;
    }

    .afterFloatingDiv{
      clear: both;
    }
    .hau-it-service-logo{
      height: icons-sprite-height(logo-hau);
      width: icons-sprite-width(logo-hau);
      display: inline-block;
      @include icons-sprite(logo-hau);
    }
    .cassidian-logo{
      height: icons-sprite-height(cassidian);
      width: icons-sprite-width(cassidian);
      display: inline-block;
      @include icons-sprite(cassidian);
    }
    .axesor-logo{
      height: icons-sprite-height(axesor);
      width: icons-sprite-width(axesor);
      display: inline-block;
      @include icons-sprite(axesor);
    }
  }
  .content-wrap.odd {
  }
}
