#mainFrame{
	position: relative;
	width: 100%;
  a{
    text-decoration: none;
  }

  .title-wrap{
    position: relative;
    width: 100%;
    color: white;

    .title{
      width: 80%;
      padding: 0 10%;
    }
  }
  .title-wrap.odd{
  }

  .header{
    background: black url(../images/header-bg.png) no-repeat top left;
    min-height: 300px;
    -webkit-background-size: cover !important;
    padding-top: 100px;
    .double-line-top{
      width: 50%;
      min-height: 8px;
      border-top: 1px solid #FE9A2E;
      border-bottom: 2px solid #FE9A2E;
      margin: auto;
    }
    .languageSelector{
      ul{
        .german-flag{
          padding: icons-sprite-height(german-flag-gray)/2 icons-sprite-width(german-flag-gray)/2;
          @include icons-sprite(german-flag-gray);
          &:hover{
            @include icons-sprite(german-flag);
          }
        }
      }
    }
    .main-title{
      text-align: center;
      color: #FE9A2E;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
      font-size: 50px;
    }
    .subtitle{
      text-align: center;
      color: #FE9A2E;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
      font-size: 2rem;
    }
    .double-line-bottom{
      width: 50%;
      min-height: 8px;
      border-bottom: 1px solid #FE9A2E;
      border-top: 2px solid #FE9A2E;
      margin: auto;
    }
  }

  .content-wrap {
    position: relative;
    width: 100%;
    min-height: 100px;

    .content{
      width: 80%;
      padding: 0 10%;
    }

    img{
      float: left;
      margin: 10px 10px;
    }

    .floatingDiv{
      position: relative;
      float: left;
      margin-left: 50px;
    }

    .afterFloatingDiv{
      clear: both;
    }
    .hau-it-service-logo{
      height: icons-sprite-height(logo-hau);
      width: icons-sprite-width(logo-hau);
      display: inline-block;
      @include icons-sprite(logo-hau);
    }
    .cassidian-logo{
      height: icons-sprite-height(cassidian);
      width: icons-sprite-width(cassidian);
      display: inline-block;
      @include icons-sprite(cassidian);
    }
    .axesor-logo{
      height: icons-sprite-height(axesor);
      width: icons-sprite-width(axesor);
      display: inline-block;
      @include icons-sprite(axesor);
    }
  }
  .content-wrap.odd {
  }
}
