html{
  font-family: Arial, Helvetica;
}

body{
  /** To edit this background, follow this link:
http://svgeneration.com/generate/Dual-Triangles?width=10&color1=222222&color2=262626&
*/
  background-color: #222222;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+Cgk8ZyB0cmFuc2Zvcm09J3JvdGF0ZSg0NSknPgoJCTxyZWN0IHdpZHRoPScyMDAlJyBoZWlnaHQ9JzIwMCUnIGZpbGw9JyMyNjI2MjYnLz4KCTwvZz4KPC9zdmc+');
  color: rgb(221, 221, 221);
  font-size: 12pt;
}

*{
  margin: 0px;
  padding: 0px;
}
$main-color: #FE9A2E;
$main-color: white;
